# Node / Angular (Importante: evita subir node_modules)
node_modules/
dist/
.angular/

# Java / Spring Boot / Maven
target/
.gradle/
build/
*.class
*.jar
*.war

# Logs
*.log

# Archivos de Editores e IDEs (VS Code, IntelliJ IDEA, Eclipse)
.idea/
.vscode/
*.iml
.settings/
.project/

# Variables de entorno y credenciales
.env
application-local.properties